# Shioaji API Credentials
SJ_API_KEY=YOUR_API_KEY
SJ_SEC_KEY=YOUR_SECRET_KEY

# Set to true for production, false for simulation mode
SJ_PRODUCTION=false

# Certificate configuration (Required for production order placement)
# SJ_CA_PATH=/app/Sinopac.pfx
# SJ_CA_PASSWD=YOUR_CA_PASSWORD
